{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'styles/main.css' %}" rel="stylesheet">
    <title>{% block title %}Define.me{% endblock %}</title>

    <!--Importing Opens Sans font-family-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
<form method="get" action="">
    {% csrf_token %}
    <input type="text" name="q" placeholder="Search" />
    <input type="submit" value="Go">
</form>
{% block content %}{% endblock %}
</body>
</html>
