{% extends 'base.html' %}

{% block title %}Define.me - {{ user.username }}{% endblock %}

{% block content %}

<!--jQuery AJAX to update questions-->
<script>
$(document).ready(function(){

    console.log('jQuery is working'); //sanity check

    $('.update-question-form').submit(function(event){
        event.preventDefault();
        console.log('Form submitted'); //sanity check
        var question_id = $(this).find("input[type=submit]").val();
        console.log(question_id);
        update_question(this, question_id);
    });

});

function update_question(event, question_id){
    console.log('Starting update_question() function, question id = ' + question_id); //sanity check
    question_q = $(event).find("input[type=text]").val(); //sanity check
    console.log("The new question is: "+ question_q); // Sanity check

     $.ajax({
        url: "/ajax/update_question",
        type: "POST",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            question_id: question_id,
            question_q: question_q,
        } ,

        dataType: 'json',

        success : function(data){
            console.log(data.teste);
            console.log("Question updated");

        }
    });
};



</script>


{% if question_list %}
<div class="pt-3 pb-3 container rounded-right rounded-bottom">

    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link text-success font-weight-bold active" href="#">All </a></li>
        {% for tag in tag_list %}
        {% if tag.tag %}
        <li class="nav-item"><a class="nav-link text-success" href="{%  url 'show_tag' tag.tag %}">#{{ tag.tag }}
        </a></li>
        {% endif %}

        {% endfor%}
    </ul>

    <table class="table border bg-white rounded-right rounded-bottom">

        <thead>
        <tr>
            <th class="align-middle" style="width: 40%;">Question</th>
            <th class="align-middle" style="width: 40%;">Answer</th>

            <!-- Doesn't need priority yet...
            <th class="text-center align-middle" style="width:5%;">Priority</th>
            -->

            <!-- Doesn't need timestamp yet
            <th class="text-center align-middle" style="width:5%;">Created at</th>
            -->

            <th class="text-center align-middle" style="width:15%;">Tag</th>
            <th class="text-center align-middle" style="width:5%;">Edit</th>
        </tr>
        </thead>

        {% for question in question_list %}
        <tr>

            <!--  Question list -->
            <td class="align-middle text-justify">
                {{ question.q }}

                <!--<form class="update-question-form">
                    {% csrf_token %}
                    <input class="form-control" type="text" value="{{ question.q }}"/>
                    <input type="submit" value="{{ question.id }}" style="display:none;"/>
                </form>-->
            </td>

            <!-- Answers -->
            <td class="align-middle text-justify answer-cell">

                <!--{% if not question.a %}
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ question.id }}"/>
                    <input type="text" name="a" placeholder="Answer"/>
                    <input type="submit" value="save"/>
                </form>
                {% endif %}-->
                {{ question.a }}
            </td>


            <!-- Doesn't need priority and timestamp yet
            <td class="text-center align-middle">{{ question.priority|floatformat }}</td>
            <td class="text-center align-middle">{{ question.created_at|date:'Y-m-d' }}</td>-->

            <!-- Tag column -->
            <td class="text-center align-middle">
                {% if question.tag %}
                <a class="text-success" href="{% url 'show_tag' question.tag %}">
                    {{ question.tag }}
                </a>
                {% endif %}
            </td>

            <!-- Edit column -->
            <td class="text-center align-middle">
                <a href="{% url 'edit_question' question.id %}">
                    <i class="material-icons align-middle text-success">edit</i>

                </a>

            </td>

        </tr>
        {% endfor %}
    </table>
</div>

{% endif %}

{% endblock %}