{% extends 'base.html' %}

{% block title %}Define.me - {{ user.username }}{% endblock %}

{% block content %}

<!--jQuery AJAX to update questions-->
<script>
$(document).ready(function(){
    console.log('jQuery is working'); //sanity check
    $('.update-question-form').submit(function(event){
        event.preventDefault();
        console.log('Form submitted'); //sanity check
        var question_id = $(this).find("input[type=submit]").val();
        console.log(question_id);
        update_question(this, question_id);
    });
});

function update_question(event, question_id){
    console.log('Starting update_question() function, question id = ' + question_id); //sanity check
    question_q = $(event).find("input[type=text]").val(); //sanity check
    console.log("The new question is: "+ question_q); // Sanity check

     $.ajax({
        url: "/ajax/update_question",
        type: "POST",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            question_id: question_id,
            question_q: question_q,
        } ,

        dataType: 'json',

        success : function(data){
            console.log(data.teste);
            console.log("Question updated");

        }
    });
};


</script>

{% if questions %}
<table class="table">
    <thead class="thead-light">
    <tr>
        <th class="align-middle">Question</th>
        <th class="align-middle">Answer</th>
        <th class="text-center align-middle">Tag</th>
        <th class="text-center align-middle">Priority</th>
        <th class="text-center align-middle">Created at</th>
        <th class="text-center align-middle">Delete</th>
    </tr>
    </thead>

    {% for question in questions %}
    <tr>
        <td class="align-middle">
            <form class="update-question-form">
                {% csrf_token %}
                <input class="form-control" type="text" value="{{ question.q }}" />
                <input type="submit" value="{{ question.id }}" style="display:none;"/>
            </form>
        </td>
        <td class="align-middle">
            {% if not question.a %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ question.id }}"/>
                <input type="text" name="a" placeholder="Answer"/>
                <input type="submit" value="save"/>
            </form>
            {% endif %}
            {{ question.a }}
        </td>
        <td class="text-center align-middle">
            {% if question.tag %}
            <a class="text-success" href="{% url 'show_tag' question.tag %}">
                {{ question.tag }}
            </a>
            {% endif %}
        </td>
        <td class="text-center align-middle">{{ question.priority|floatformat }}</td>
        <td class="text-center align-middle">{{ question.created_at }}</td>
        <td class="text-center align-middle">
            <form method='post' action="{% url 'delete_question' %}">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ question.id }}"/>
                <input name="submit" type="submit" value="Delete">
            </form>
        </td>
    </tr>
    {% endfor %}
    <tr></tr>
</table>
{% endif %}

{% endblock %}