{% extends 'base.html' %}

{% block title %}Define.me - Login{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<script language="javascript">
    window.location.href = "http://localhost:8080/"
</script>
{% endif %}

<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enter</button>
</form>
<a href="{% url 'index' %}">Sign Up</a>
<br>
<p><strong>-- OR --</strong></p>
<a href="{% url 'social:begin' 'github' %}">Login with Github</a><br>
<a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a><br>
<a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a><br>
<a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
{% endblock %}