{% extends 'base.html' %}

{% block title %}Search result{% endblock %}

{% block content %}

<div class="pt-3 pb-3 container rounded-right rounded-bottom">

    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link text-success font-weight-bold active" href="#">All </a></li>
        {% for tag in tag_list %}
        {% if tag.tag %}
        <li class="nav-item"><a class="nav-link text-success" href="{%  url 'home' %}?tag={{ tag.tag }}">#{{ tag.tag }}
        </a></li>
        {% endif %}

        {% endfor%}
    </ul>

    {% include 'question_table.html' %}

</div>


{% endblock %}