{% extends 'base.html' %}

{% block title %}Tag{% endblock %}

{% block content %}
<h2>Tag = {{ tag }}</h2>
<table>
    <tr>
        <th>Edit</th>
        <th>Question</th>
        <th>Answer</th>
        <th>Tag</th>
        <th>Priority</th>
        <th>Created at</th>
        <th>Delete</th>
    </tr>
    {% for question in questions %}
    <tr>
        <td>
            <a href="{% url 'edit_question' question.id %}">Edit</a>
        </td>
        <td>{{ question.q }}</td>
        <td>
            {% if not question.a %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ question.id }}"/>
                <input type="text" name="a" placeholder="Answer"/>
                <input type="submit" value="save"/>
            </form>
            {% endif %}
            {{ question.a }}
        </td>
        <td>{{ question.tag }}</td>
        <td>{{ question.priority|floatformat }}</td>
        <td>{{ question.created_at }}</td>
        <td>
            <form method='post' action="{% url 'delete_question' %}">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ question.id }}"/>
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    {% endfor %}
    <tr></tr>
</table>
{% endblock %}