{% extends 'base.html' %}

{% block title %}#{{ tag }}{% endblock %}

<!-- BEGINNING OF CONTENT BLOCK -->
{% block content %}

<div class="pt-3 pb-3 container rounded-right rounded-bottom">

    <h2>#{{ tag }}</h2>


    <table class="table border bg-white rounded-right rounded-bottom">

        <thead>
        <tr>
            <th class="align-middle" style="width: 45%;">Question</th>
            <th class="align-middle" style="width: 45%;">Answer</th>


            <th class="text-center align-middle" style="width:10%;">Edit</th>
        </tr>
        </thead>

        {% for question in questions %}
        <tr>

            <!--  Questions -->
            <td class="align-middle text-justify">
                {{ question.q }}


            </td>

            <!-- Answers -->
            <td class="align-middle text-justify answer-cell">
                {{ question.a }}
            </td>




            <!-- Edit column -->
            <td class="text-center align-middle">
                <a href="{% url 'edit_question' question.id %}">
                    <i class="material-icons align-middle text-success">edit</i>

                </a>

            </td>

        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}
<!-- END OF CONTENT BLOCK-->