<div class="row">
    <div class="col">
                    <textarea name="q" id="question" class="form-control" placeholder="Question (required)" autofocus
                              rows="5"
                              style="resize: none;">{{ question.q }}</textarea>
    </div>
    <button id="google-search-button" class="btn btn-success">Search on Google</button>
    <div class="col">
                    <textarea name="a" class="form-control" placeholder="Answer" rows="5"
                              style="resize: none;">{{ question.a }}</textarea>
    </div>
</div>

<div class="row pt-3">
    <div class="col">

        <!-- Tag input -->
        <input class="form-control " type="text" name="tag" placeholder="Tag (20 characters maximum)"
               {% if question.tag %}value="{{ question.tag }}" {% endif %}/>

    </div>

    <button type="submit" class="mr-3 mb-3 btn btn-success">
        Save</button>

</div>