{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Define.me - Login{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<script src="{% static 'js/redirect_to_home.js' %}"></script>
{% endif %}

<!--  Text slide show using jQuery -->
<script src="{% static 'js/text_slide.js' %}"></script>

<div class="container">

    <div class="row pt-5 pb-5">

        {% include "authentication/left_container.html" %}

        <!-- Right container (sign up) -->
        <div class="col-md-6 pt-5 pb-5 border-left bg-white rounded">
            <div class="container">
                <h3>Sign in</h3>

                {% include "authentication/social_login.html" %}

                <div class="pt-4">
                    <p class="text-center font-weight-bold">----- OR -----</p>
                </div>

                <!-- Sign in form -->
                <form method="post">
                    {% csrf_token %}

                    <!-- Show form validation errors -->
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor%}

                    <div class="form-group">
                        <input class="form-control" type="text" name="username" placeholder="Username"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Password"/>
                    </div>

                    <button type="submit" class="btn btn-success font-weight-bold float-left">Sign in</button>
                    <span class="float-right">Don't have an account? <a class="text-success" href="{% url 'home' %}">Sign up</a></span>
                </form>

            </div>
        </div>
    </div>

</div>


{% endblock %}

