{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Define.me - Your personal dictionary{% endblock %}

{% block content %}

<!--  Text slide show using jQuery -->
<script src="{% static 'js/text_slide.js' %}"></script>

<div class="container">

    <div class="row pt-5 pb-5">

        {% include "authentication/left_container.html" %}

        <!-- Right container (sign up) -->
        <div class="col-md-6 pt-5 pb-5 border-left bg-white rounded">
            <div class="container">
                <h3>Sign Up for Free</h3>

                {% include "authentication/social_login.html" %}

                <div class="pt-4">
                    <p class="text-center font-weight-bold">----- CREATE AN ACCOUNT -----</p>
                </div>

                <!-- Sign up form -->
                <form method="post">
                    {% csrf_token %}

                    <!-- Show form validation errors -->
                    {% for field in user_creation_form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor%}


                    <!-- Username field -->
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" placeholder="Username"
                               value="{{ user_creation_form.username.value|default_if_none:'' }}"/>
                    </div>

                    <!-- Password field -->
                    <div class="form-group">
                        <input class="form-control" type="password" name="password1" placeholder="Password"/>
                    </div>

                    <!-- Password 2 field -->
                    <div class="form-group">
                        <input class="form-control" type="password" name="password2" placeholder="Confirm password"/>
                    </div>

                    <button type="submit" class="btn btn-success font-weight-bold float-left">Sign up</button>

                    <span class="float-right">Already have an account? <a class="text-success" href="{% url 'login' %}">Sign in</a></span>

                </form>

            </div>
        </div>
    </div>

</div>


{% endblock %}